.content {
	background-image: url(../assets/images/img5.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center center;
  	padding-bottom: 40px;
}

label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
    font-size: 14px;
}
label.label-pos {
	margin-top: 0px;
    padding-top: 0px;
}

span.error {
    color: #b03535;
    float: right;
}

textarea,
select { 
    border:1px solid #aaa;
    -moz-border :1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    padding-right:30px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
    background: #fff; 
}

.country option, .state option, .bikes option {
    color: #000;
}
span {
    font-size: 14px;
}
#male {
    margin-right: inherit;
}
input[type=radio] {
    margin-left: 13%;
}

input#fname:focus:invalid, 
input#lname:focus:invalid,
input#dob:focus:invalid,
input#ages:focus:invalid,
input#pass1:focus:invalid,
input#pass2:focus:invalid,
input#tel:focus:invalid,
input#mail:focus:invalid,
textarea:focus:invalid  { /* when a field is considered invalid by the browser */
    background: #fff url(../assets/images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

input#fname:required:valid, 
input#lname:required:valid,
input#dob:required:valid,
input#ages:required:valid,
input#pass1:required:valid,
input#pass2:required:valid,
input#tel:required:valid,
input#mail:required:valid,
textarea:required:valid  { /* when a field is considered valid by the browser */
    background: #fff url(../assets/images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

select:focus:invalid {
	box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

select:required:valid {
	box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.empty {
    color: gray; 
}

.s {
	display: none;
}

button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}
#bike-img img {
	max-width: 99%;
   	border: 2px solid;
    margin-bottom: 5%;
}