@font-face {
	font-family: TradeGothic-CnBold;
    src: url('../assets/fonts/trade-gothic-bold-1361519978.otf'); 
}

body {
	color: #f5f5f5;
	font-size: 13px;
  	line-height: 1.4;
  	font-family: "TradeGothic-CnBold";
}
a {
	text-decoration: none;
}
a:link {
    color: #FFF;
}
a:visited {
    color: #FFF;
}
a:hover {
    color: #F60;
}
a:active {
    color: #F60;
}
.current-link {
    color: #F60;
}
.current > a {
       pointer-events: none;
       cursor: default;
}
header {
	background-color: #212121;
	background-image: url(../assets/images/header.png);
	background-position: 0px 0px;
}
nav.header {
	margin-left: 150px;
}
img.logo {
	width: 75px;
	padding: 3px;
}
.title {
	position: absolute;
	margin-top: -60px;
  	margin-left: 95px;
	font-size: 17px;
	font-family: "TradeGothic-CnBold";	
}
.navs {
	position: absolute;
	margin-top: -32px;
  	margin-left: 95px;
}
ul.nav-link {
	display: flex;
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "TradeGothic-CnBold";
	font-size: 15px;
}
ul.nav-link li:before {
content: "	||	";
}
ul.nav-link li:first-child:before {
content: none;
}
ul.nav-link li {
	padding-right: 5px;
}
ul.other-links {
	display: inline-flex;
	padding-left: 10px;
}
.foot ul.nav-link {
	font-family: "Arial";
	font-size: 12px;
}

#main-content{
	background: url(../assets/images/img2.jpg) 50% 0% no-repeat;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center; 
  	padding: 400px 150px 20px 150px;
  	text-align: justify;
  	font-size: 15px;
}

footer {
	background-color: #575656;;
	height: 20%;
	overflow: hidden;
	padding-bottom: 50px;
}

.foot {
	margin-left: 150px;
	padding-top: 15px;
	font-family: Arial;
}
.footer-logo {
	background-image: url(../assets/images/logo.png);
	background-repeat: no-repeat;
	background-position: 0% 100%;
	font-family: "TradeGothic-CnBold";
	font-size: 14px;
}
.footer-head {
	margin-left: 30px;
}
.copyright {
	display: inline;
}

 @media only screen and (min-width: 300px) and (max-width: 400px) {
 	header {
 		background-size: contain;
  		height: 118px;
  	}
 	nav.header {
		margin-left: 0px;
  		text-align: center;
	}
	.title {
		text-align: center;
  		position: inherit;
  		margin-left: 0px;
  		margin-top: 0px;
	}
	.navs {
		margin-top: 0px;
  		  margin-left: 27%;
	}
	#main-content{
		background-size: 210%;
		padding: 225px 150px 20px 150px;
	}
	footer {
		padding-bottom: 20px;
	}
	.foot {
		margin-left: 0px;
		text-align: center;	
	}
	.foot .nav-link {
		margin-left: 72px;
	}
	.foot .other-links {
		margin-left: 0px;
	}
	.footer-head {
		margin-left: 15px;
	}
	.footer-logo {
		background-position: 23% 100%;
	}
	ul.nav-link li:before {
		content: "";
	} 	
 }
@media only screen and (min-width: 1440px) and (max-width: 1750px) {
	nav.header {
		margin-left: 175px;
	}
	.foot {
		margin-left: 175px;
	}
	#main-content{
		padding-top: 620px;
	}
}	
@media only screen and (min-width: 1751px) and (max-width: 1980px) {
	nav.header {
		margin-left: 275px;
	}
	.foot {
		margin-left: 275px;
	}
	#main-content{
		padding-top: 800px;
	}
}	